body{
  overflow: hidden;
  margin: 0;
  background-color: #000000;
}
.text {
  position: absolute;
  top: -65vh;
  width: 100%;
  text-align: center;
  z-index: -999;
}
.retro {
  font-size: 140vh;
  display: block;
  color: rgb(75, 225, 245)0, 0);
  text-shadow: 0 0 0.25vh #648caa, 0 0 0.5vh #648caa, 0 0 0.5vh #648caa, 0 0 1vh #648caa, 0 0 2vh #7f64aa;
}